@model MathEvent.Models.ViewModels.PerformanceViewModel
@using MathEvent.Components
@using Microsoft.AspNetCore.Identity
@using MathEvent.Helpers
@inject UserManager<ApplicationUser> UserManager

@{
    Model.UserId = UserManager.GetUserId(User);
}

<div class="row">
    <a class="royal-blue h5" asp-controller="Performance" asp-action="Index"><< К списку событий</a>
</div>
        <div class="row">
            <div class="col-lg-8 pr-lg-3 m-0">
                <img class="card-img" src="@Url.Content(UserDataPathWorker.ConcatPaths(Model.DataPath, Model.PosterName))">
            </div>
            <div class="col-lg-4 px-4">
                <div class="row mb-2">
                    <hr class="block-1" />
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <h4 class="mb-4">@Model.Name</h4>
                        <p><strong>Начало: @Model.Start.ToString("dd/MM/yyyy HH:mm")</strong></p>
                        <p>@Model.Location</p>
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        @(await Html.RenderComponentAsync<Subscribe>(RenderMode.ServerPrerendered, new { traffic = Model.Traffic, card = Model }))
                        @Html.RouteLink("Написать организатору", new { controller = "Email", action = "Index", performanceId = Model.Id }, new { @class = "btn btn-block btn-info md-4" })
                    </div>
                   
                </div>
            </div>
        </div>

<div class="card-deck my-4">
    <div class="card">
        <div class="card-header bg-very-light-blue">
            <h4>О мероприятии</h4>
        </div>
        <div class="card-body">
            <p>@Model.Annotation</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-very-light-blue">
            <h4>Адрес</h4>
        </div>
        <div class="card-body">
            <p>@Model.Location</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-very-light-blue">
            <h4>Организатор</h4>
        </div>
        <div class="card-body">
            <p>@Model.CreatorName</p>
        </div>
    </div>
</div>
