@model MathEvent.Models.ViewModels.CardViewModel
@using MathEvent.Components
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Card";
}

<h1>Card</h1>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Annotation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Traffic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Traffic)
        </dd>
        <dt class="col-sm-2">
            Записаться на событие:
        </dt>
        <dd class="col-sm-10">
            @{ 
                Model.UserId = UserManager.GetUserId(User);
            }
            @(await Html.RenderComponentAsync<MyComponent>(RenderMode.ServerPrerendered, new { traffic = Model.Traffic, card = Model }))
            <a class="card-link" asp-route-performanceId="@Model.Id" asp-area="" asp-controller="Performance" asp-action="Subscribe">@ViewBag.SignedUp</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Performance" asp-action="Index">К списку событий</a>
</div>
