@model MathEvent.Models.ViewModels.CardViewModel
@using MathEvent.Components
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<div class="conteiner rounded-bottom bg-light border">
    <div class="container my-2" style="background-image: url(@Url.Content("default.png"));">
        <div class="row d-flex align-items-end">
            <div class="col-lg-7 p-0 m-0">
                <img class="card-img-top" src="~/default.png">
            </div>
            <div class="col-lg-5 text-right dark-light">
                <h3 class="text-white">@Model.Name</h3>
                <p class="display-4 text-white"><strong>@Model.Start.Date.ToString("d")</strong></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex align-items-top">
            <div class="col text-left p-3 ">
                @{
                    Model.UserId = UserManager.GetUserId(User);
                }
                @(await Html.RenderComponentAsync<MyComponent>(RenderMode.ServerPrerendered, new { traffic = Model.Traffic, card = Model }))
            </div>
            <div class="col text-right p-3 ">
                @Html.RouteLink("Написать организатору", new { controller = "Performance", action = "ContactTheCreator", creatorId = Model.CreatorId }, new { @class = "btn btn-lg btn-info" })
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 mb-2">
        <div class="container rounded-top text-center p-1 bg-dark">
            <h2 class="text-white">О мероприятии</h2>
        </div>
        <div class="rounded-bottom border p-2">
            <p>@Model.Annotation</p>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="container rounded-top text-center p-1 bg-dark">
            <h2 class="text-white">Организатор</h2>
        </div>
        <div class="rounded-bottom border p-2">
            <p>@Model.CreatorName</p>
        </div>
    </div>
    <div class="col-md-5 mb-2">
        <div class="container rounded-top text-center p-1 bg-dark">
            <h2 class="text-white">Полное описание</h2>
        </div>
        <div class="rounded-bottom border p-2">
            <p>@Model.Annotation</p>
        </div>
    </div>
</div>

<div>
    <a class="nav-link mt-4" asp-controller="Performance" asp-action="Index"> << К списку событий</a>
</div>
