@model IEnumerable<MathEvent.Models.Conference>
@using Microsoft.AspNetCore.Identity
@using MathEvent.Helpers
@using MathEvent.Components
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Кабинет";
}

<div class="row">
    <div class="col form-group">
        <h2 class="mb-4">Личный кабинет</h2>
        <hr class="block-1" />
        <p>
            Здесь вы можете редактировать ваши конференции, секции и события
        </p>
    </div>
</div>

<div class="container">
    <div class="row d-flex align-items-center justify-content-between bg-main rounded border pb-2 pr-4">
        <div class="col-6 text-left">
            @{
                var user = UserManager.GetUserAsync(User).Result;
                var firstName = user.Name;
                var lastName = user.Surname;
                var username = $"{firstName} {lastName}";
                <div class="display-4 text-white">@username</div>
            }
        </div>
        <div class="col-5 text-right">
            @{
                if (!UserManager.IsEmailConfirmedAsync(user).Result)
                {
                    <a class="btn btn-danger" asp-area="" asp-controller="Email" asp-action="ConfirmEmailRequest">Подтвердить Email</a>
                }
            }
        </div>
        <div class="col-1 text-right">
            <a class="footer-link text-sea-crayola" asp-area="" asp-controller="Account" asp-action="Edit"><i class="fas fa-2x fa-user-edit"></i></a>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-2 text-left">
        <hr class="mx-auto block-1" />
    </div>
    <div class="col-10 text-left">
        <h4>Ваши конференции</h4>
    </div>
</div>

<div class="container">
    @{
        if (Model.Count() < 1)
        {
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "Пока нет ни одной конференции..." }))
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var conference in Model)
            {
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="row d-flex align-items-center input-bg-image rounded shadow p-1">
                            <div class="col text-left">
                                <h4>@conference.Name</h4>
                                <p>@conference.Location, @conference.Start.Date.ToShortDateString()</p>
                            </div>
                            <div class="col d-flex justify-content-end align-items-center">
                                <a class="btn download-btn mr-4" asp-route-conferenceId="@conference.Id" asp-controller="Pdf" asp-action="TimeTable">Программа</a>
                                <a class="edit-link" asp-route-conferenceId="@conference.Id" asp-area="" asp-controller="Conference" asp-action="Edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row rounded-bottom border p-4">
                            @{
                                if (conference.Sections.Count() < 1)
                                {
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-4">
                                                @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "Пока нет ни одной секции..." }))
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    int i = 0;
                                    @foreach (var section in conference.Sections)
                                    {
                                        var sectionName = section.Name;
                                        var sectionId = section.Id;
                                        var sectionStart = section.Start;
                                        var sectionAddress = section.Location;
                                        <div class="col-md-9 mb-2">
                                            <div class="row d-flex align-items-center input-bg-image rounded-top p-1 shadow">
                                                <div class="col text-left">
                                                    <h6>@sectionName</h6>
                                                    <p>@sectionAddress, @sectionStart.Date.ToShortDateString()</p>
                                                </div>
                                                <div class="col text-right p-3 ">
                                                    <a class="edit-link" asp-route-sectionId="@sectionId" asp-area="" asp-controller="Section" asp-action="Edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                                </div>
                                            </div>
                                            <div class="row rounded-bottom border p-2">
                                                @{
                                                    if (section.Performances.Count() < 1)
                                                    {
                                                        <div class="container">
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="col-md-4">
                                                                    @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "Пока нет ни одного события..." }))
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12 mb-2">
                                                            <div class="card-columns">
                                                                @foreach (var performance in section.Performances)
                                                                {
                                                                    var performanceName = performance.Name;
                                                                    var performanceId = performance.Id;
                                                                    <div class="card">
                                                                        <img class="card-img-top" src="@Url.Content(UserDataPathWorker.ConcatPaths(performance.DataPath, performance.PosterName))" />
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">@performanceName</h5>
                                                                            <a class="btn btn-info" asp-route-performanceId="@performanceId" asp-area="" asp-controller="Performance" asp-action="Edit">Изменить</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        if (i % 3 == 0)
                                        {
                                            <div class="col-md-3 mb-2">
                                                <img class="w-100 need-hide" src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "planet_left.png"))">
                                            </div>
                                        }

                                        i++;
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<div class="row mt-4">
    <div class="col-2 text-left">
        <hr class="mx-auto block-1" />
    </div>
    <div class="col-10 text-left">
        <h4>События на сторонних конференциях</h4>
    </div>
</div>
<div class="row">
    @{
        if (((IEnumerable<Performance>)ViewBag.ForeignPerformances).Count() < 1)
        {
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "У вас нет событий на сторонних конференциях" }))
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-9">
                <div class="card-columns">
                    @foreach (var performance in (IEnumerable<Performance>)ViewBag.ForeignPerformances)
                    {
                        <div class="card">
                            <img class="card-img-top" src="@Url.Content(UserDataPathWorker.ConcatPaths(performance.DataPath, performance.PosterName))" />
                            <div class="card-body">
                                <h5 class="card-title">@performance.Name</h5>
                                <a class="btn btn-info" asp-route-performanceId="@performance.Id" asp-area="" asp-controller="Performance" asp-action="Edit">Изменить</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3">
                @*<img class="w-100 need-hide" src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "triangle_left.png"))">*@
            </div>
        }
    }
</div>
<div class="row mt-4">
    <div class="col-2 text-left">
        <hr class="mx-auto block-1" />
    </div>
    <div class="col-10 text-left">
        <h4>События вне секций</h4>
    </div>
</div>
<div class="row">
    @{
        if (((IEnumerable<Performance>)ViewBag.Performances).Count() < 1)
        {
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "У вас нет событий вне секций" }))
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-9">
                <div class="card-columns">
                    @foreach (var performance in (IEnumerable<Performance>)ViewBag.Performances)
                    {
                        <div class="card">
                            <img class="card-img-top" src="@Url.Content(UserDataPathWorker.ConcatPaths(performance.DataPath, performance.PosterName))" />
                            <div class="card-body">
                                <h5 class="card-title">@performance.Name</h5>
                                <a class="btn btn-info" asp-route-performanceId="@performance.Id" asp-area="" asp-controller="Performance" asp-action="Edit">Изменить</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3">
                @*<img class="w-100 need-hide" src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "triangle_left.png"))">*@
            </div>
        }
    }
</div>
<div class="row mt-4">
    <div class="col-2 text-left">
        <hr class="mx-auto block-1" />
    </div>
    <div class="col-10 text-left">
        <h4>События, на которые вы записаны</h4>
    </div>
</div>
<div class="row">
    @{
        if (((IEnumerable<ApplicationUserPerformance>)ViewBag.SubscribedPerformances).Count() < 1)
        {
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "Вы не записаны ни на одно событие" }))
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-9">
                <div class="card-columns">
                    @foreach (var ap in (IEnumerable<ApplicationUserPerformance>)ViewBag.SubscribedPerformances)
                    {
                        <div class="card">
                            <img class="card-img-top" src="@Url.Content(UserDataPathWorker.ConcatPaths(ap.Performance.DataPath, ap.Performance.PosterName))" />
                            <div class="card-body">
                                <h5 class="card-title">@ap.Performance.Name</h5>
                                <a class="btn btn-primary" asp-route-id="@ap.Performance.Id" asp-area="" asp-controller="Performance" asp-action="Card">Перейти</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3">
                @*<img class="w-100 need-hide" src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "hex_left.png"))">*@
            </div>
        }
    }
</div>