@model IEnumerable<MathEvent.Models.Conference>

<div class="jumbotron jumbotron-image shadow"
     style="background-image: url(@Url.Content("Images")/all_together4.png);
     min-height: 150px;">
</div>
<div class="container">
    @foreach (var conference in Model)
    {
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="row d-flex align-items-center bg-very-light-blue shadow p-1">
                    <div class="col text-left">
                        <h4>@conference.Name</h4>
                        <p>@conference.Location, @conference.Start.Date.ToShortDateString()</p>
                    </div>
                </div>
                <div class="row rounded-bottom border p-4">
                    @foreach (var section in conference.Sections)
                    {
                        var sectionName = section.Name;
                        var sectionId = section.Id;
                        var sectionStart = section.Start;
                        var sectionAddress = section.Location;
                        <div class="col-md-9 mb-2">
                            <div class="row d-flex align-items-center rounded-top p-1 bg-very-light-blue shadow">
                                <div class="col text-left">
                                    <h5>@sectionName</h5>
                                    <p>@sectionAddress, @sectionStart.Date.ToShortDateString()</p>
                                </div>
                            </div>
                            <div class="row rounded-bottom border p-2">
                                <div class="col-md-12 mb-2">
                                    <div class="card-columns">
                                        @foreach (var performance in section.Performances)
                                        {
                                            var performanceName = performance.Name;
                                            var performanceId = performance.Id;
                                            <div class="card">
                                                <img class="card-img-top" src="~/default.png" />
                                                <div class="card-body">
                                                    <h5 class="card-title">@performanceName</h5>
                                                    <a class="btn btn-primary" asp-route-performanceId="@performanceId" asp-area="" asp-controller="Performance" asp-action="Card">Перейти</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <img class="w-100 need-hide" src="@Url.Content("Images")/triangle_left.png">
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
