@model IEnumerable<MathEvent.Models.ViewModels.ConferenceViewModel>
@using MathEvent.Components
@using MathEvent.Helpers

<header class="head-bg-image rounded shadow text-center py-5 mb-2">
    <div class="container">
        <h1 class="display-4 text-white">Конференции</h1>
    </div>
</header>
<div class="container">
    @{
        if (Model.Count() < 1)
        {
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered, new { Comment = "Пока нет ни одной конференции..."}))
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var conference in Model)
            {
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="row d-flex align-items-center input-bg-image rounded shadow p-1">
                            <div class="col text-left">
                                <h4>@conference.Name</h4>
                                <p>@conference.Location, @conference.Start.Date.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="row rounded-bottom border p-4">
                            @{
                                if (conference.SectionViewModels.Count() < 1)
                                {
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-4">
                                                @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered))
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var section in conference.SectionViewModels)
                                    {
                                        var sectionName = section.Name;
                                        var sectionStart = section.Start;
                                        var sectionAddress = section.Location;
                                        <div class="col-md-9 mb-2">
                                            <div class="row d-flex align-items-center input-bg-image rounded-top p-1 bg-very-light-blue shadow">
                                                <div class="col text-left">
                                                    <h5>@sectionName</h5>
                                                    <p>@sectionAddress, @sectionStart.Date.ToShortDateString()</p>
                                                </div>
                                            </div>
                                            <div class="row rounded-bottom border p-2">
                                                @{
                                                    if (section.PerformanceViewModels.Count() < 1)
                                                    {
                                                        <div class="container">
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="col-md-4">
                                                                    @(await Html.RenderComponentAsync<NotFound>(RenderMode.ServerPrerendered))
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12 mb-2">
                                                            @(await Html.RenderComponentAsync<PerformanceList>(RenderMode.ServerPrerendered, new { Performances = section.PerformanceViewModels, IsKeyWordsHidden = true}))
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <img class="w-100 need-hide" src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "planet_left.png"))">
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
