@using MathEvent.Helpers
 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MathEvent</title>
    <base href="/" />
    <link rel="stylesheet" href="~/css/Color.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content(UserDataPathWorker.ConcatPaths(UserDataPathWorker.GetImagesDirectory(), "brand.svg"))" width="30" height="30" class="d-inline-block align-top" alt="">
                    MathEvent
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Performance" asp-action="Index">События</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Conference" asp-action="Index">Конференции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-murena pt-0">
        <div class="bg-main opacity-8">
            <div class="container">
                <div class="row py-2 d-flex align-items-center"></div>
            </div>
        </div>
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">
                <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
                    <h4 class="text-uppercase font-weight-bold text-white"><strong>О нас</strong></h4>
                    <hr class="bg-sea-crayola mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <h5>
                        <a class="footer-link" asp-controller="Home" asp-action="About">MathEvent</a>
                    </h5>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-5">
                    <h4 class="text-uppercase font-weight-bold text-white"><strong>Событие</strong></h4>
                    <hr class="bg-sea-crayola mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <h5>
                        <a class="footer-link" asp-controller="Performance" asp-action="About">Как создать событие</a>
                    </h5>
                    <h5>
                        <a class="footer-link" asp-controller="Conference" asp-action="About">Как создать конференцию</a>
                    </h5>
                    <h5>
                        <a class="footer-link" asp-controller="Section" asp-action="About">Как создать секцию</a>
                    </h5>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mb-5">
                    <h4 class="text-uppercase font-weight-bold text-white"><strong>Матфак</strong></h4>
                    <hr class="bg-sea-crayola mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <h5>
                        <a class="footer-link" href="https://math.uniyar.ac.ru">Математический факультет</a>
                    </h5>
                    <h5>
                        <a class="footer-link" href="https://www.instagram.com/math_yargu">Чем живет МатФак</a>
                    </h5>
                    <h5>
                        <a class="footer-link" href="https://www.uniyar.ac.ru/Abitur/abiturientu-2017/index.php">ЯрГУ</a>
                    </h5>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2">
                    <h4 class="text-uppercase font-weight-bold text-white"><strong>Контакты</strong></h4>
                    <hr class="bg-sea-crayola mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                    <div class="d-flex justify-content-between">
                        <a class="footer-link" href="https://vk.com/"><i class="fab fa-2x fa-vk"></i></a>
                        <a class="footer-link" href="https://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a>
                        <a class="footer-link" href="mailto:mathevent@gmail.com"><i class="fa fa-2x fa-envelope-open"></i></a>          
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-copyright text-center">
            <p class="text-white">&copy; @DateTime.Now.Year – MathEvent</p>
        </div>
    </footer>
    <script src="~/_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
