@*@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using MathEvent.Models.ViewModels
@using MathEvent.Helpers
@using System.Net.Http
@using System.ComponentModel
@using Newtonsoft.Json
@using System.Text
@using Microsoft.AspNetCore.Identity
@using MathEvent.Models
@using MathEvent.Helpers.Db
@using Microsoft.AspNetCore.Mvc.Rendering

@inject DbService DbService


    @if (Sections.Count() > 0)
    {
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="IsSectionStartAndLocationCheckBox" value="@State" @onchange="@CheckChanged" />
                <label class="form-check-label" for="IsSectionStartAndLocationCheckBox">Установить данные секции</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Секция</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text text-sea-crayola"><i class="fas fa-cheese"></i></span>
                </div>
                <select value="@Performance.SectionId" @onchange="@SelectChanged" class="custom-select form-control">
                    @foreach (var section in Sections)
                    {
                        var sec = section;
                        <option value="@sec.Key">@sec.Value</option>
                    }
                </select>
            </div>
        </div>
    }
<div class="form-group">
    <label class="control-label">Начало</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text text-sea-crayola"><i class="fas fa-clock"></i></span>
        </div>
        <input class="form-control" @bind="@Performance.Start" disabled="@State" />
    </div>
</div>
<div class="form-group">
    <label class="control-label">Адрес</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text text-sea-crayola"><i class="fas fa-map-marked-alt"></i></span>
        </div>
        <input class="form-control" @bind="@Performance.Location" disabled="@State"/>
    </div>
</div>

@code {
    [Parameter] public PerformanceViewModel Performance { get; set; }
    private Dictionary<int, string> Sections { get; set; }
    private bool State { get; set; }

    protected override void OnInitialized()
    {
        State = false;

        Sections = new Dictionary<int, string>();
        Sections.Add(-1, "Без секции");
        Performance.SectionId = -1;
        var sections = DbService.GetSectionsAsync();

        foreach(var section in sections)
        {
            Sections.Add(section.Id, section.Name);
        }
    }

    private void CheckChanged(ChangeEventArgs e)
    {
        var state = (bool) e.Value;
        State = state;

        if (state)
        {
            var sectionId = Performance.SectionId;

            if (sectionId == -1)
            {
                Performance.SectionId = Sections.Keys.Where(k => k != -1).First();
                sectionId = Performance.SectionId;
            }

            var section = DbService.GetSection((int) sectionId);
            Performance.Start = section.Start;
            Performance.Location = section.Location;
        }
        else
        {
            Performance.Start = DateTime.Now;
            Performance.Location = "Адрес отсутствует";
        }

    }

    private void SelectChanged(ChangeEventArgs e)
    {
        var value = Convert.ToInt32(e.Value);
        if (value == -1)
        {
            Performance.SectionId = -1;
        }
        else
        {
            Performance.SectionId = value;
        }

        if (State)
        {
            if (Performance.SectionId == -1)
            {
                State = false;
            }
            else
            {
                var section = DbService.GetSection((int) Performance.SectionId);
                Performance.Start = section.Start;
                Performance.Location = section.Location;
            }
        }
    }
}*@
